<% layout("layouts/app") %>

<div class="row">
  <div class="col-6">
    <div class="card">
      <img
        src="<%= beach.image %>"
        alt="<%= beach.title %>"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title"><%= beach.title %></h5>
        <p class="card-text"><%= beach.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= beach.location %></li>
        <li class="list-group-item">Author: <%= beach.author.username %></li>
        <li class="list-group-item"><%= beach.cost %></li>
      </ul>
      <% if(currentUser && beach.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a
          href="/beaches/<%= beach._id %>/update"
          class="btn btn-warning card-link text-white"
          >Edit</a
        >
        <form
          action="/beaches/<%= beach._id %>?_method=DELETE"
          method="POST"
          style="display: inline !important"
        >
          <button
            class="btn btn-danger"
            onclick="return confirm('Are you sure you want to delete?')"
          >
            Delete
          </button>
        </form>
      </div>
      <% } %>
    </div>
  </div>
  <div class="col-6">
    <% if(currentUser) { %>
    <h3>Leave a Review</h3>
    <form
      action="/beaches/<%= beach._id %>/reviews"
      method="POST"
      class="needs-validation mb-3"
      novalidate
    >
      <div class="mb-3">
        <label for="rating">Rating</label>
        <input
          type="range"
          name="review[rating]"
          id="rating"
          class="form-range"
          min="1"
          max="5"
        />
      </div>
      <div class="mb-3">
        <label for="review">Review</label>
        <textarea
          name="review[body]"
          id="body"
          cols="40"
          rows="5"
          class="form-control"
          placeholder="Your review ..."
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please fill the blank.</div>
      </div>
      <button type="submit" class="btn btn-success">Send</button>
    </form>
    <% } %> <% for(const review of beach.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Rating: <%= review.rating %></h5>
        <p class="card-text"><%= review.body %></p>
        <form
          action="/beaches/<%= beach._id %>/reviews/<%= review._id %>?_method=DELETE"
          method="POST"
          style="display: inline !important"
          onsubmit="return confirm('Are you sure you want to delete?')"
        >
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>
