<%- layout("layouts/app") %>

<h1 class="text-center">Edit Beach</h1>
<div class="col-6 offset-3">
  <form
    action="/beaches/<%= beach._id %>?_method=PUT"
    method="POST"
    class="needs-validation"
    novalidate
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        name="beach[title]"
        id="title"
        required
        class="form-control"
        value="<%= beach.title %>"
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill the blank.</div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
        type="text"
        name="beach[location]"
        id="location"
        required
        class="form-control"
        value="<%= beach.location %>"
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill the blank.</div>
    </div>
    <div class="mb-3">
      <label for="cost" class="form-label">Cost</label>
      <input
        type="text"
        name="beach[cost]"
        id="cost"
        required
        class="form-control"
        value="<%= beach.cost %>"
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill the blank.</div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="beach[description]"
        id="description"
        required
        class="form-control"
      >
<%= beach.description %></textarea
      >
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill the blank.</div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input
        type="file"
        name="image"
        id="image"
        accept="image/*"
        class="form-control"
        multiple
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill the blank.</div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
